
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: linear-gradient(#000000, #130d30); /* Replace with your desired gradient colors */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    background: linear-gradient(#6141df, #000000 75%);
    padding: 200px; /* Add padding to create a margin around the text content */
    border-radius: 10px; /* Add rounded corners for the container */
    margin-bottom: 250px; 
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(#000000 50%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    position: relative;
    font-size: 25px;
    color: #bbb0ff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    /* Removed opacity and animation properties */
}

.logo span {
    font-weight: 400px;
    color: #6141df;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #6141df;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    /* Removed opacity and animation properties */
}

.navbar a:hover {
    color: #bbb0ff;
}

/* Styling for the home section */
.home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column; /* Place rows on top of each other */
    align-items: center;
    justify-content: center;
    padding: 70px 10% 0;
}

/* Styling for the home content row */
.home-content {
    width: 100%;
    display: flex;
    flex-direction: row; /* Place elements side by side */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}

/* Styling for the home content text */
.home-content h1 {
    flex: 1; /* Take up 50% of the available space */
    font-size: 40px;
    font-weight: 250;
    line-height: 70px;
    margin-right: 10px;
    padding-top: 10%;
}

.home-content h1 span {
    color: #bbb0ff;
    font-weight: 600;
}

.home-content h3 {
    flex: 1; /* Take up 50% of the available space */
    font-size: 25px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 20px;
    padding-top: 10%;
}

.text {
    color: #7DF9FF;
    font-size: 30px;
}

/* Styling for the image container row */
.container3D {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.home-image {
    max-width: 100%;
    height: auto;
}

/* Styling for the intro section */
.intro-title h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 64px;
    color:#bbb0ff;
}

.intro-content {
    padding: 10px 10%;
}

.intro-content h2 {
    color: #bbb0ff; /* Heading color */
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.intro-content h3 {
    color: #bbb0ff; /* Heading color */
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 15px;
}

.intro-content p {
    color: #bbb0ff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    /* Adjust styles for small screens */
    .intro-content {
        padding: 30px 5%;
    }
    .intro-content h2 {
        font-size: 28px;
    }
    .intro-content h3 {
        font-size: 22px;
        font-weight: 540px;
    }
    .intro-content p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjust styles for medium screens */
    /* ... */
}

@media screen and (min-width: 1025px) {
    /* Adjust styles for large screens */
    /* ... */
}

/*styling for project section*/
.project {
    padding: 50px 10%;
}

.Background h3 {
    color: #bbb0ff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.Background p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

.project-content p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

.project .project-content h2 {
    color: #bbb0ff;
    font-size: 24px;
    font-weight: 540px;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* youtube video aligned at the center of the page*/
.project .project-content .robotMotion { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*project details title at the center of the page*/
.project-title h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 64px;
    color:#bbb0ff;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    /* iPhone 13 Pro screen width is 375px */

    /* Adjust header styles for small screens */
    .header {
        padding: 10px 5%; /* Reduce padding for smaller screens */
    }

    /* Adjust navigation links for small screens */
    .navbar a {
        font-size: 18px; /* Decrease font size for navigation links */
        margin-left: 15px; /* Increase margin for better spacing */
    }

    /* Adjust home content heading styles for small screens */
    .home-content h1 {
        font-size: 28px; /* Decrease font size for headings */
        line-height: 50px; /* Adjust line height */
    }

    /* Adjust home content subheading styles for small screens */
    .home-content h3 {
        font-size: 20px; /* Decrease font size for subheadings */
        margin-bottom: 15px; /* Adjust margin for better spacing */
    }

    /* Adjust text styles for small screens */
    .text {
        font-size: 24px; /* Decrease font size for text */
    }

    /* Adjust intro section padding for small screens */
    .intro-content {
        padding: 30px 5%; /* Adjust padding for smaller screens */
    }

    /* Adjust intro heading styles for small screens */
    .intro-content h2 {
        font-size: 30px; /* Decrease font size for headings */
    }

    /* Adjust intro subheading styles for small screens */
    .intro-content h3 {
        font-size: 18px; /* Decrease font size for subheadings */
        font-weight: 500; /* Adjust font weight */
        margin-top: 20px; /* Adjust margin for better spacing */
        margin-bottom: 10px; /* Adjust margin for better spacing */
    }

    /* Adjust intro paragraph styles for small screens */
    .intro-content p {
        font-size: 16px; /* Decrease font size for text */
        line-height: 24px; /* Adjust line height */
        margin-bottom: 20px; /* Adjust margin for better spacing */
    }

    /* Additional adjustments for other sections and elements as needed */
        /* Adjust styles for small screens */
    .navbar {
            text-align: right; /* Align the dropdown to the right */
    }
    .dropdown {
            display: inline-block; /* Display the dropdown inline */
    }
    .navbar a {
            display: none; /* Hide regular navigation links */
    }
    
}

.cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 25px 0; /* Added 25px margin-bottom */
}

.cube-loader {
    position: relative;
    margin-left: 20px;
    width: 25px; /* Decreased width to 25px */
    height: 25px; /* Decreased height to 25px */
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(12.5px); /* Adjusted translateZ value */
    background: linear-gradient(to bottom, #130d30, #6141df 20%);
}

.cube-top {
    position: absolute;
    width: 25px; /* Decreased width to 25px */
    height: 25px; /* Decreased height to 25px */
    background: #130d30;
    transform: rotateX(90deg) translateZ(12.5px); /* Adjusted translateZ value */
    transform-style: preserve-3d;
}

.cube-top::before {
    content: '';
    position: absolute;
    width: 25px; /* Decreased width to 25px */
    height: 25px; /* Decreased height to 25px */
    background: #6141df 19.6%;
    transform: translateZ(-45px); /* Adjusted translateZ value */
    filter: blur(5px); /* Adjusted blur value */
    box-shadow: 0 0 5px #323232, 0 0 10px #6141df 19.6%, 0 0 15px #323232, 0 0 20px #6141df 19.6%; /* Adjusted box-shadow values */
}

